@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* border: 2px solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-text-color: #39DB4A;
    --secondary-text-color: #FF6868;
    --white-color: white;
    --padding-inline-section: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: 600;
}

ul {
    list-style: none;
}

/* utility clssess */
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.green {
    color: var(--primary-text-color);
}

.red {
    color: var(--secondary-text-color);
}

.white {
    color: var(--white-color);
}

.toggle-btn {
    display: none;
}

/* header-section */
header {
    position: relative;
}

/* navbar */
.navbar {
    margin-top: 20px;
    justify-content: space-between;
    padding-block: var(--padding-inline-section);
}

.first-icon {
    width: fit-content;
    height: max-content;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--primary-text-color);
}

.menu {
    gap: 30px;
}

.other-menu {
    margin-left: 150px;
}

.contact {
    padding: 10px 20px;
    background-color: var(--primary-text-color);
    border-radius: 30px;
    gap: 10px;
}
.fa-chevron-down{
    color:var(--primary-text-color);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* hero section */
.hero-section {
    gap: 50px;
    margin-top: 20px;
}

.left-side {
    flex-basis: 42%;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    /* padding-left: 30px; */
    /* overflow: hidden; */
}

.left-side p {
    line-height: 2;
    font-weight: 500;
    opacity: 0.8;
}

.btn {
    gap: 30px;
    margin-right: 30px;
}

.btn-order {
    width: 40%;
    background-color: var(--primary-text-color);
    color: var(--white-color);
    padding: 12px 35px;
    border-radius: 40px;
    box-shadow: 0 10px 30px #8EFF9A;
}

.watch-btn {
    font-size: 18px;
    opacity: 0.6;
    width: 128px;
}

.play-btn {
    background-color: #ffffff;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    box-shadow: 0 18px 10px #00000016;
    padding: 20px;
}

.right-side {
    position: relative;
    flex-basis: 50%;
    /* overflow: hidden; */
}

.circle {
    position: absolute;
    width: 80%;
    top: 21%;
    left: 20%;
}

.girl-img {
    position: relative;
    z-index: 1;
    width: 90.4%;
    left: 11%;
}

.spicy {
    position: absolute;
    top: 25%;
    right: 60%;
    width: 45%;
}

/* ads */
.ads {
    display: flex;
    gap: 10px;
    flex-basis: 50%;
}

.rect {
    position: absolute;
    width: 60%;
    top: 90%;
    z-index: 1;
    left: 0;
}

.food {
    width: 16%;
    height: 13%;
    z-index: 1;
    top: 95%;
    position: absolute;
    left: 8%;
}

.ad {
    position: absolute;
    width: 21%;
    z-index: 1;
    left: 28%;
    top: 95%;
}

.rect1 {
    position: absolute;
    width: 62%;
    top: 90%;
    left: 48%;
    z-index: 1;
}

.food2 {
    width: 16%;
    height: 14%;
    z-index: 1;
    position: absolute;
    left: 56%;
    top: 94%;
    padding-top: 3px;
}

.text {
    z-index: 1;
    position: absolute;
    left: 75%;
    top: 96%;
    width: 24%;
}

.star {
    z-index: 1;
    position: absolute;
    left: 75%;
    top: 100%;
    width: 16%;
}

.doller {
    z-index: 1;
    position: absolute;
    left: 75%;
    top: 104%;
    width: 11%;
}

/* category section */
.category {
    flex-direction: column;
}

.category-heading {
    margin-top: 200px;
    /* flex-direction: column; */
}

.category-heading p {
    color: var(--secondary-text-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.category-heading h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 46px;
}

.category-card {
    /* flex-direction: column; */
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    /* position: relative; */
}

.card {
    /* flex-basis: 20%; */
    width: 248px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    box-shadow: 2px 10px 18px #0000001A;
    padding: 10px;
    border-radius: 40px;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.card1 img {
    width: 70%;

}


.img {
    justify-content: center;
    /* position: absolute; */
    border-radius: 70px;
    width: 120px;
    height: 120px;
    background-color: #C1F1C6;
    text-align: center;
    padding: 8px;
}

.heading {
    font-weight: 600;
    font-size: 30px;
}

.dishes {
    opacity: 0.8;
}

/* menu section */
.menu-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 40%;
    font-weight: 700;
}

.slider-btn {
    width: 45%;
    height: 160px;
    gap: 30px;
    justify-content: flex-end;
    align-items: end;
}

.color-chg {
    background-color: var(--primary-text-color);
    padding: 15px 19px;
    border-radius: 30px;
    color: white;
}

.color-chg:hover {
    background-color: #fff;
    color: black;
}
/* .menus{
    width:85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px auto;
    gap:80px;
   
} */
.menus{
    gap:30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
}

.menu-card{
    width:28%;
    box-shadow: 2px 9px 42px 0px #00000014;
    padding: 20px;
    border-radius: 20px;
    position: relative;
   /* margin:40px auto; */

}
.menu-card img{
 margin-left: 20px;
 
}
.menu-rect{
    position: absolute;
    right: 0;
    top: 0;
    width:20%;
}
.menu-desc{
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    padding-top: 10px;
}
.heart{
    position: absolute;
    right: 6%;
    top:3%;
}
/* feature section */
.feature-section {
    gap: 100px;
    height: 600px;
    flex-direction: row;
    /* position: relative; */
}

.left-feature {
    /* margin-top: 180px; */
    position: relative;
    flex-basis: 45%;
}

.img1 {
    position: relative;
    width: 70%;
    left: 19%;
    z-index: 1;
    bottom: 0;
    top: 0;
}

.innerimg {
    position: absolute;
    width: 75%;
    left: 19%;
    top: 49%;
    bottom: 0;
}

.smiley {
    position: absolute;
    z-index: 1;
    left: 16%;
    top: 60%;
    width: 8%;
}

.pizza-img {
    position: absolute;
    z-index: 1;
    left: 90%;
    top: 60%;
    width: 8%;
}

.rectangle {
    position: absolute;
    z-index: 1;
    top: 86%;
    width: 40%;
    left: 63%;
}

.text1 {
    position: absolute;
    z-index: 1;
    top: 92%;
    font-size: 0.8rem;
    left: 70%;
}

.right-feature {
    flex-basis: 45%;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.head {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.h3 {
    font-size: 2.5rem;
}

.contain {
    opacity: 0.7;
    font-weight: 500;
    line-height: 30px;
}

.feedback {
    position: relative;
}

.i2 {
    border-radius: 50px;
    position: absolute;
    left: 70%;
    border: 6px solid white;
}

.i3 {
    position: absolute;
    left: 153%;
}

.feed {
    position: absolute;
    bottom: 3%;
    left: 49%;
}

.feed img {
    width: 8%;
}

.bold {
    font-weight: 700;
}

.feed:last-child {
    opacity: 0.8;
}

/* big feature section */
.big-feature {
    margin-top: 150px;
    gap: 100px;
}

.left {
    margin-left: 20px;
    flex-basis: 40%;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.left .btn {
    background-color: var(--primary-text-color);
    border-radius: 30px;
    padding: 15px 30px;
    color: var(--white-color);
}

.right {
    flex-basis: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.feature-card {
    text-align: center;
    gap: 10px;
    padding: 28px 17px;
    border-radius: 20px;
    box-shadow: 7px 12px 43px 0px #00000024;
}

.feature-card img {
    width: 42px;
    margin-bottom: 5px;
}

.feature-card p {
    margin-top: 5px;
    color: #90BD95;
}

/* footer */
footer {
    margin-top: 100px;
    padding-block: 80px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-logo {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 20%;
}

.footer-logo p {
    opacity: 0.8;
}

.link-column {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    align-self: auto;
}

.link-column a {
    opacity: 0.5;
}

.hover-link {

    transition: 0.2s ease-out;
}

.hover-link:hover {
    text-shadow: 1px 1px 2px black;
}

/* sub footer */
.sub-footer {
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.icon {
    gap: 20px;
}
.fa-brands{
    /* width:20px;
    height: 20px; */
    background-color: #EDFFEF;
    padding: 10px;
    border-radius: 23px;
}

.facebook {
    background-color: var(--primary-text-color);
    padding: 10px 13px;
    border-radius: 20px;
    width: 16%;
}

.green-bg {
    background-color: #EDFFEF;
    padding: 10px;
    border-radius: 23px;
}

.cp-contain p {
    opacity: 0.6;
    font-size: 1.1rem;
}

.cp-contain img {
    width: 3.5%;
}