@import url('https://fonts.googleapis.com/css2?family=Poppins,Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.grid-container {
    width: 70vw;
    height: 80vh;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    /* grid-template-columns: auto auto 1fr; */
    font-family: "Poppins", sans-serif;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: "b1 b2 b2"
                         "b1 b3 b4"
                         "b1 b3 b6"
                         "b5 b3 b6";
}

.box {
    background-color: rgb(231, 230, 230);
    /* border:2px solid black; */
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.742);
    border-radius: 10px;
    text-align: justify;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box-1 {
    /* grid-row: span 2; */
    align-content: center;
    grid-area: b1;
    height: 600px;
}

#box-2 {
    /* grid-column: span 2; */
    border-radius: 10px 0px;
    grid-area: b2;
    /* width:100px; */
}

#box-3 {
    /* grid-row: span 2; */
    align-content: center;
    border-radius: 0px 10px;
    grid-area: b3;
}
#box-4{
 grid-area: b4;
    padding: 20px;
    box-shadow: none;
    align-content: center;
    height: 260px;
}



.bg {
    border-radius: 10px;
    background: linear-gradient(to top, #adade0, #ececa3);
    padding: 10px;
    
}

.bg-red {
    border-radius: 10px;
    background: linear-gradient(to top, #e74762c7, #9d9de2ca);
    padding: 10px;
    height: 300px;
}

#box-5 {
    grid-area: b5;
    box-shadow: none;
    align-content: center;
    /* margin-top: 20px; */
}
#box-6{
    grid-area: b6;
    height: 300px;
    align-content: center;
    /* grid-row: -3 / -1; */
}

@media screen and (max-width:479px) {
    .grid-container {
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: auto; */
        display: flex;
        flex-direction: column;
    }
}